# Tópicos Especiais em Processamento da Informação: Ciência de Dados

Prof. Luiz Affonso Guedes Engenharia de Computação - UFRN 2017-2

## Conteúdo:
- introdução sobre importação de dados 
- base de dados benchmark
- uso das funções plot do Pandas

In [1]:
# Exemplo: Importanto Pandas

from pandas import Series, DataFrame
import pandas as pd

### Exemplo de importação de arquivo csv de um site www

In [2]:
x1 = pd.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/state-population.csv')

In [19]:
x1.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [33]:
x1['population'].head()
x1["state/region"].head()

0       under18
1         total
2       under18
3         total
4       under18
5         total
6         total
7       under18
8       under18
9         total
10        total
11      under18
12        total
13      under18
14        total
15      under18
16        total
17      under18
18        total
19      under18
20        total
21      under18
22        total
23      under18
24        total
25      under18
26      under18
27        total
28        total
29      under18
         ...
2514    under18
2515      total
2516    under18
2517      total
2518      total
2519    under18
2520      total
2521    under18
2522      total
2523    under18
2524      total
2525    under18
2526      total
2527    under18
2528      total
2529    under18
2530      total
2531    under18
2532      total
2533    under18
2534    under18
2535      total
2536      total
2537    under18
2538    under18
2539      total
2540    under18
2541      total
2542    under18
2543      total
Name: ages, Length: 2544, dtype: object

In [8]:
x1[['year','population']].head()

   year  population
0  2012   1117489.0
1  2012   4817528.0
2  2010   1130966.0
3  2010   4785570.0
4  2011   1125763.0

In [29]:
#x1.ix[:,0].head()
#x1.ix
x2 = x1.iloc[:,0] == 'AL'
x2.head()

0    True
1    True
2    True
3    True
4    True
Name: state/region, dtype: bool

In [28]:
x1[x2].head() # Filtered table by the state of Alabama

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [31]:
x3 = x1[x2][x1.ages=='total']
x3.head()

/Users/miguelsilvadarochajunior/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

  state/region   ages  year  population
1           AL  total  2012   4817528.0
3           AL  total  2010   4785570.0
5           AL  total  2011   4801627.0
6           AL  total  2009   4757938.0
9           AL  total  2013   4833722.0

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x3['population'].plot()

In [ ]:
plt.show()

In [ ]:
x3.plot()

In [ ]:
plt.show()

In [ ]:
plt.hist(x3.population)

In [ ]:
plt.show()

In [ ]:
plt.scatter(x3.year, x3.population)

In [ ]:
plt.show()

### Exemplo de importação de arquivo da base do pacote sklearn

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()
data = iris.data
column_names = iris.feature_names
type(iris)
#type(data)
type(column_names)
#iris

In [ ]:
#df = pd.DataFrame(iris, columns = [column_names])
df = pd.DataFrame(iris.data, columns = iris.feature_names)

In [ ]:
df

Exemplos das base de dados no sklearn

- load_boston() ----->   Load and return the boston house-prices dataset (regression).

- load_iris()  -----> Load and return the iris dataset (classification).

- load_diabetes()    ----->    Load and return the diabetes dataset (regression).

- load_digits([n_class]) -----> Load and return the digits dataset (classification).

- load_linnerud()    ----->    Load and return the linnerud dataset (multivariate regression).

### Exemplo de importação de arquivo da base do pacote seaborn

In [ ]:
# O dataset do seaborn está em formato DataFrame-Pandas
import seaborn.apionly as sns
iris = sns.load_dataset('iris')
iris

### Importação das bases de teste do R

- O ambiente da linguagem R possui um conjunta de bases muito úteis, que são utilizadas para teste.
- É possível carregar essas bases no ambiente do Python.

In [ ]:
$ pip install pydataset

In [ ]:
from pydataset import data

data()

In [ ]:
passageiros_do_titanic = data('titanic')
passageiros_do_titanic

Exemplo do vídeo do curso de python

In [ ]:
type(passageiros_do_titanic)

In [ ]:
passageiros_do_titanic.head()

In [ ]:
passageiros_do_titanic.describe()

In [ ]:
passageiros_do_titanic['survived'].value_counts().plot(kind='bar')

In [ ]:
plt.show()

## Próxima Aula

In [ ]:
#### Combinando Datasets: Merge and Join